// Palette: https://colorhunt.co/palette/79451
$light-green: #A9EEE6;
$cream: #FEFAEC;
$red: #F38181;
$dark-blue: #625772;


// Palette: https://in.pinterest.com/pin/465067099020776965/
$dark-red: #d03161;
$dark-orange: #ee8080;
$dark-light-green: #bfd8d1;
$dark-green: #178a94;
$dark-dark-blue: #2b374b;
